<template>

    <v-tabs
            centered

            icons-and-text

    >
        <v-tabs-slider   color="orange"></v-tabs-slider>
        <v-tab  v-for="tab in tabs" :key="tab.name">
            {{tab.name}}
            <v-icon>{{tab.icon}}</v-icon>
        </v-tab>
        <v-tab-item
                v-for="tab in tabs"
                :key="tab.name"
        >
                <component  :is="tab.component"></component>
        </v-tab-item>
    </v-tabs>

</template>

<script>
    import {MStore} from "../../store/MainStore";
    import RequestTab from "./Requests/RequestTab";
    import SettingsTab from "./Settings/SettingsTab";
    import ColorsTab from "./ColorSettings/ColorsTab";
    import ContactTab from "./ContactSettings/ContactTab";

    export default {
        name: "Admin",
        components: { SettingsTab, RequestTab, ColorsTab, ContactTab},
        data(){
            return{
                tabs:[
                    {
                        name: 'REQUESTS',
                        icon:'business_center',
                        component: 'RequestTab'
                    },
                    {
                        name: 'CONFIG',
                        icon:'settings',
                        component: 'SettingsTab'
                    },
                    {
                        name: 'COLORS',
                        icon:'brush',
                        component: 'ColorsTab'
                    },
                    {
                        name: 'CONTACT US',
                        icon:'contact_mail',
                        component: 'ContactTab'
                    }
                ]
            }
        },
        computed:{
            tabStyle(){
                return MStore.getters.getStyleByProp('footer')
            }
        },
        mounted(){
            MStore.dispatch('loadRequests')
        }
    }
</script>

<style scoped>

</style>