<template>
    <v-card dark>
        <v-card-title class="success lighten-2 headline black--text">
            Response
        </v-card-title>
        <v-card-text>
            <v-form>
                <v-textarea prepend-icon="edit" v-model="desc" :label="`Please provide your response to `  + this.email + ` here`" :count="500"></v-textarea>
            </v-form>
        </v-card-text>
        <v-card-actions>
                        <v-spacer>

                        </v-spacer>
            <v-btn class="error" @click="cancel">CANCEL</v-btn>
            <v-btn class="success" @click="submit"><v-icon left>mail</v-icon>SEND</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "Response",
        props: ['email'],
        data(){
            return{
                desc: ''
            }
        },
        methods:{
            submit(){
                console.log('Sending mail')
                window.open(`mailto:${this.email}?subject=Heartland Improvements Response&body=${this.desc}`);

                this.$emit('cancel')
            },
            cancel(){
                this.$emit('cancel')
            }
        }
    }
</script>

<style scoped>

</style>