<template>

        <v-alert transition="fade-transition" error dismissible @input="onClose" :value="true" >
            {{ text }}
        </v-alert>

</template>

<script>
    import {MStore} from "../../store/MainStore";
    export default {
		props: ['text'],
		methods: {
			onClose () {
				MStore.dispatch('clearError')
			}
		}
	}
</script>

<style scoped>

</style>