<template>
    <v-dialog max-width="290" v-model="confirmationDialog">
        <v-card>
            <v-card-title >{{confirmationTitle}}</v-card-title>

            <v-card-text>
                {{confirmationMessage}}
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn

                        flat="flat"
                        @click="no"
                >
                    No
                </v-btn>

                <v-btn

                        flat="flat"
                        @click="yes"
                >
                    Yes
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

    export default {
		name: "Confirmation",
        props:['title','message','prompt'],
		data() {
			return {
			    confirmationTitle: this.title,
                confirmationMessage: this.message
			}
		},
		computed: {
			confirmationDialog: {
				get() {
					return this.prompt
				},
				set(val) {
					if (!val) {
						this.$emit('no')
					}
				}
			},
		},

		methods: {
			no() {
				this.$emit('no')
			},
			yes() {
				this.$emit('yes')
			}
		}
	}
</script>

<style scoped>

</style>