<template>
    <v-carousel >
        <v-carousel-item
                v-for="(event,i) in featuredEvents"
                :key="i"
                :src="event.src"
                @click="nav(event)"
                style="cursor: pointer"
        >
            <div class="title">{{event.title}}</div>

        </v-carousel-item>
    </v-carousel>
</template>

<script>
    import {MStore} from "../../store/MainStore";

    export default {
        name: "EventsCarousel",
        computed:{
            featuredEvents(){
                return MStore.getters.featuredEvents;
            },
        },
        methods:{
            nav(feature){
                this.$router.push(`/albums/${feature.id}`)
            }
        }
    }
</script>

<style scoped>
    .title{
        background-color: rgba(0,0,0,0.5);
        color:white;
        bottom:50px;
        margin: 0 auto;
        left: 50%;
        text-align: center;
        font-size: 2em;
        padding: 10px;

    }
    .cursor{
        cursor: pointer;
    }
</style>