<template>
    <v-combobox v-model="model"
     hint="Filter..."
     :items="this.items2" label="Search for an Album" prepend-icon="search"
                :search-input.sync="search"     hide-selected multiple small-chips

    >

    </v-combobox>
</template>

<script>
    export default {
        name: "SearchBar",
        props: ['items'],
        data(){
            return {
                model:'',
                items2: this.items.map(i=> i.title),
                search: ''
            }
        },
        watch:{
            model(newval,oldval){
                console.log('Modal value changed:')
                console.log(newval)
                this.$emit('model', this.model)
            },
        }

    }
</script>

<style scoped>

</style>