<template>
    <v-snackbar
            :value="showSnackBar"
            :color="color"
            :multi-line="mode === 'multi-line'"
            :timeout="timeout"
            :vertical="mode === 'vertical'"
            auto-height
            top
    >
        {{ message }}
        <v-btn
                color="pink"
                flat
                @click="clearSnackBar"
        >
            Close
        </v-btn>
    </v-snackbar>
</template>

<script>
    import {MStore} from "../../store/MainStore";
    export default {
		name: "SnackBar",
        data(){
			return{
				color: 'grey',
				mode: '',
				timeout: 6000,
            }
        },
        computed:{
			showSnackBar(){
				return MStore.getters.snackBar
            },

            message(){
				return MStore.getters.snackBar
            },
        },
        methods:{
	        clearSnackBar(){
                MStore.dispatch('clearSnackBar')
	        }
        }
	}
</script>

<style scoped>

</style>