<template>
    <div>
        <v-btn @click="uploadAlbum"><v-icon left>add_a_photo</v-icon>Upload</v-btn>
        <input @change="onAlbumPicked" type="file" accept="image/*" hidden ref="imagePicker">

    </div>

</template>

<script>
    export default {
        name: "UploadButton",
        data(){
            return{
                innerPreview: null,
                innerImage: null
            }
        },
        methods:{
            uploadAlbum(){
                this.$refs.imagePicker.click();
            },
            onAlbumPicked(event){
                const image = event.target.files[0];
                let imageName = image.name;
                if(imageName.lastIndexOf('.') <= 0){
                    return alert('Please add a valid file!')
                }
                // we need to turn this file from a binary file to a string value
                const fileReader = new FileReader();
                fileReader.addEventListener('load', () => {
                    this.innerPreview = fileReader.result;
                    this.$emit('uploaded', {preview: this.innerPreview, image: this.innerImage})

                })

                fileReader.readAsDataURL(image);
                this.innerImage = image
                console.log('Emiting')
                console.log(this.innerImage)
                console.log(this.innerPreview)
            }
        }
    }
</script>

<style scoped>

</style>