<template>


    <v-footer
            height="auto"
            :style="footerStyle"
            app
    >
            <v-speed-dial
                    v-model="fab"

                    :open-on-hover="hover"
                    :transition="transition"
                    v-if="auth"
                    left
                    id="myCss"

            >
                <v-btn
                        slot="activator"
                        v-model="fab"
                        color="red"
                        fab
                        large


                >
                    <v-icon>add</v-icon>
                    <v-icon>close</v-icon>
                </v-btn>
                <v-btn
                        color="amber"
                        @click="addArticle = !addArticle"
                        id="floatingCss"
                >
                    <v-icon left>add</v-icon>Article<v-icon right>notes</v-icon>
                </v-btn>
                <v-btn
                        color="indigo"
                        @click="addAlbum = !addAlbum"
                        id="floatingCss"

                >
                    <v-icon left>add</v-icon>Album<v-icon right>photo_album</v-icon>
                </v-btn>

            </v-speed-dial>



        <v-layout
                justify-center
                row
                wrap
                white--text
                text-xs-center
        >
            <v-flex xs12 >
                <v-btn
                        v-for="media in socialMedia"
                        :key="media.name"
                        class="mx-3 white--text text-xs-center"
                        icon
                        small
                        :href="media.link"
                        target="_blank"
                >
                    <span :class="media.icon"></span>
                </v-btn>
                <v-flex text-xs-right>
                    <v-btn small  v-if="!auth" flat to="/signin"><v-icon left>person</v-icon>Admin</v-btn>
                </v-flex>
            </v-flex>


            <v-flex
                    :style="footerStyle"
                    class="teal darken-4"

                    xs12
            >
                &copy;2019 — <strong>Yaqeen</strong>
            </v-flex>

        </v-layout>

        <v-dialog v-model="addArticle" width='600'>
            <AddArticle @close="addArticle = !addArticle"></AddArticle>
        </v-dialog>
        <v-dialog v-model="addAlbum" width="600">
            <AddAlbum @close="addAlbum = !addAlbum"></AddAlbum>
        </v-dialog>
        <v-dialog v-model="addBlog" width="600">
            <AddBlog @close="addBlog = !addBlog"></AddBlog>
        </v-dialog>
    </v-footer>


</template>

<script>
    import {MStore} from "../../store/MainStore";
    import AddArticle from "../article/AddArticle";
    import AddAlbum from "../album/AddAlbum";
    import AddBlog from "../blog/AddBlog";
    export default {
        name: "Footer",
        components: {AddBlog, AddAlbum, AddArticle},
        data() {
            return {
                direction: 'top',
                fab: false,
                hover: false,
                tabs: null,
                top: false,
                right: true,
                bottom: true,
                left: false,
                transition: 'slide-y-reverse-transition',

                addArticle :false,
                addAlbum : false,
                addBlog: false,
                icons: [
                    {
                        icon:'fab fa-linkedin fa-2x',
                        link: 'https://www.linkedin.com/in/hani-al-huneidi-2a26388b'
                    },
                    {
                        icon: 'fab fa-instagram fa-2x',
                        link: 'https://www.instagram.com/halhuneidi/?utm_source=ig_profile_share&igshid=1i3a2qym86drx'
                    },
                    {
                        icon:'fab fa-facebook fa-2x',
                        link:'https://www.facebook.com/halhuneidi'
                    }

                ],

            }
        },
        computed:{
            auth(){
                return MStore.getters.user
            },
            footerStyle(){
                return MStore.getters.getStyleByProp('footer').style
            },
            socialMedia(){
                return MStore.getters.config.socialMedia.filter(media=> {
                   return media.visible === true
                })
            }

        }
    }
</script>

<style scoped>
#myCss{
    position:absolute;
    padding-bottom:180px;
    padding-right:10px;
}
    #floatingCss{
        margin-left:80px;
    }
</style>