<template>
    <div>
    <v-toolbar :style="toolBarStyle" app >
        <v-toolbar-side-icon class="hidden-sm-and-up" @click="toggleNav = !toggleNav"></v-toolbar-side-icon>
        <v-avatar size="50">
            <v-img  :src="require('@/assets/Heartland_Home_Improvement_Logo_20.jpg')"></v-img>
        </v-avatar>
        <v-toolbar-title class="cursor:pointer;">
            <router-link to="/" tag="span" style="cursor: pointer">{{config.title}}</router-link></v-toolbar-title>


        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-xs-only">
            <v-btn v-for="route in routes" flat :key="route.title" :to="route.link"><v-icon left>{{route.icon}}</v-icon>{{route.title}}</v-btn>
            <v-btn v-if="auth" flat to="/admin"><v-icon left>vpn_key</v-icon>Admin Panel</v-btn>
            <v-btn v-if="auth" flat @click="logout"><v-icon left>lock_open</v-icon>Logout</v-btn>
        </v-toolbar-items>
    </v-toolbar>
    <v-navigation-drawer v-model="toggleNav" app temporary>
        <v-layout column>

            <v-list class="pa-1">
                <v-list-tile v-if="auth" avatar>
                    <v-list-tile-avatar>
                        <img :src="config.websiteOwnerPicture">
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>{{config.websiteOwnerName}}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <v-list class="pt-0">
                <v-divider  v-if="auth" ></v-divider>

                <v-list-tile v-for="route in routes" :key="route.title" :to="route.link">
                    <v-list-tile-action>
                        <v-icon>{{route.icon}}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        {{route.title}}
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile v-if="auth" to="/admin">
                    <v-list-tile-action>
                        <v-icon>vpn_key</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        Admin Panel
                    </v-list-tile-content>
                </v-list-tile  >

                <v-list-tile v-if="auth" @click="logout">
                    <v-list-tile-action>
                        <v-icon>lock_open</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        Logout
                    </v-list-tile-content>
                </v-list-tile>


            </v-list>
        </v-layout>

    </v-navigation-drawer>
    </div>
</template>

<script>
    import {MStore} from "../../store/MainStore";
    export default {
        name: "ToolBar",
        data(){
            return{
                toggleNav: false,
            }
        },
        computed:{
            auth(){
                return MStore.getters.auth
            },
            config(){
                return MStore.getters.config
            },
            toolBarStyle(){
                return MStore.getters.getStyleByProp('toolbar').style;
            },
            routes(){
                if(this.auth) {
                   return [
                        {icon: 'home', title: 'Home', link: '/'},
                        {icon: 'contact_mail', title: 'Contact me', link: '/contactus'},
                        {icon: 'photo_album', title: 'Albums', link: '/albums'},

                   ]
                    }
                else{
                    return [
                        {icon: 'home', title: 'Home', link: '/'},
                        {icon: 'contact_mail', title: 'Contact me', link: '/contactus'},
                        {icon: 'photo_album', title: 'Albums', link: '/albums'},

                    ]
                }
            }
        },
        methods:{
            logout(){
                MStore.dispatch('logout')
            }
        }
    }
</script>

<style scoped>

</style>