<template>
    <v-card>
        <v-card-title class="headline font-weight-bold text-uppercase white--text indigo lighten-3">
           <v-icon left>notes</v-icon>Article
        </v-card-title>
        <v-card-text>
            <v-form ref="form" v-model="valid">
                <v-text-field :rules='titleRules' prepend-icon="edit" required v-model="title" label="Title"></v-text-field>
                <v-textarea  :rules='descriptionRules' label="Description" prepend-icon="edit" v-model="desc" count="1000" required>
                    <v-subheader>Optional:</v-subheader>
                    <v-btn>Upload</v-btn>
                </v-textarea>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error"  @click="close">CANCEL</v-btn>
            <v-btn color="success" @click="save" :disabled="!valid">SAVE</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import {MStore} from "../../store/MainStore";
    import moment from 'moment';
    export default {
        name: "AddArticle",
        data(){
            return{
                title:'',
                desc:'',
                titleRules: [
                    v => !!v || 'Title is required',
                    v => v.length <=20|| 'Title must be less than 20 chars'
                ],
                descriptionRules: [
                    v => !!v || 'Description is required',
                    v => v.length <=1000|| 'Description must be less than 1000 chars'
                ],
                valid : false
            }
        },
        methods:{
            close(){
                this.$emit('close')
            },
            save(){
                if(this.$refs.form.validate()){
                    let tempDate = moment(String(new Date())).format('MM/DD/YYYY ')
                    console.log(tempDate)
                    let payload = {
                        title: this.title,
                        description: this.desc,
                        date: tempDate

                    }
                    MStore.dispatch('addArticle', payload)
                    this.$emit('close')
                }
            }
        }
    }
</script>

<style scoped>

</style>