<template>
    <v-card class="elevation-0 transparent">
        <v-card-text class="text-xs-center">
            <div x-large class=" headline blue--text text--lighten-2">{{article.title}}</div>
        </v-card-text>

        <v-card-text>
            {{article.description}}
        </v-card-text>
        <v-card-actions v-if="auth" >
            <v-spacer></v-spacer>
            <v-btn small fab color="success" dark @click="editDialog = !editDialog"><v-icon>edit</v-icon></v-btn>
            <v-btn small fab color="indigo" dark @click="deleteDialog = !deleteDialog"><v-icon>delete</v-icon></v-btn>

        </v-card-actions>
        <v-dialog v-model="editDialog" width="600">
            <EditArticle :article="article" @close="editDialog = !editDialog"></EditArticle>
        </v-dialog>
        <Confirmation @yes="deleteArticle(article.id)" :prompt="deleteDialog" :title="'Confirm delete'" :message="'Are you sure you want to delete this article?'" @no="deleteDialog = false"></Confirmation>
    </v-card>
</template>

<script>
    import Confirmation from "../shared/Confirmation";
    import {MStore} from "../../store/MainStore";
    import EditArticle from "./EditArticle";

    export default {
        name: "Article",
        components: {EditArticle, Confirmation},
        props: ['article'],
        data(){
            return{
                deleteDialog : false,
                editDialog :false
            }
        },
        computed:{
            auth(){
                return MStore.getters.user
            },
            cardStyle(){
                let payload = {
                    bottomStyle: MStore.getters.getStyleByProp('cardBottom').style,
                    bodyStyle:  MStore.getters.getStyleByProp('cardBody').style,
                    titleStyle:  MStore.getters.getStyleByProp('cardTitle').style,
                }
                return payload
            }
        },
        methods:{
            deleteArticle(id){
                MStore.dispatch('deleteArticle', id)
                this.deleteDialog = false
          }
        }
    }
</script>

<style scoped>
#article{
    background: rgba(0,0,0,0.7);
}
</style>