<template>
    <v-card>
        <v-card-title class="headline success white--text font-weight-bold text-uppercase">
            <v-icon left>assignment</v-icon>
            Edit Article
        </v-card-title>
        <v-card-text>
            <v-form ref="form">
                <v-text-field prepend-icon="edit" v-model="article2.title" required>

                </v-text-field>
                <v-textarea count="1000" required v-model="article2.description">

                </v-textarea>

            </v-form>

        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="error" @click="close">CANCEL</v-btn>
            <v-btn class="success" @click="edit">CONFIRM</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import {MStore} from "../../store/MainStore";
    export default {
        name: "EditArticle",
        props: ['article'],
        data(){
            return{
                article2:  JSON.parse(JSON.stringify(this.article)), // clone the article to prevent mutating the parent
            }
        },
        methods:{

            edit(){
                console.log('Attempting to edit')

                if(this.$refs.form.validate){
                    MStore.dispatch('updateArticle', this.article2);
                    this.$emit('close')
                }
            },
            close(){
                this.$emit('close')
            }
        },
    }
</script>

<style scoped>

</style>