<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex xs12 md4 v-for="request in requests"  :key="request.id">
                <Request :request="request"></Request>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import Request from "./Request";
    import {MStore} from "../../../store/MainStore";
    export default {
        name: "RequestTab",
        components: {Request},
        computed:{
            requests(){
                    return MStore.getters.requests

            }
        }
    }
</script>

<style scoped>

</style>