<template>
    <v-card  hover tile id="contentToPrint" >
        <v-card-title  :style="cardStyle.titleStyle">
                {{info.category}}
        </v-card-title>
        <v-card-text  :style="cardStyle.bodyStyle">
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-subheader><v-icon left>mail</v-icon>Email:</v-subheader> {{info.email}}
                    </v-flex>
                    <v-flex xs12>
                        <v-divider></v-divider>
                        <v-subheader><v-icon left>person</v-icon>From:</v-subheader> {{info.name}}
                    </v-flex>
                    <v-flex xs12 v-if="info.phone">
                        <v-divider></v-divider>
                        <v-subheader><v-icon left>phone</v-icon>Phone:</v-subheader> {{info.phone}}
                    </v-flex>
                    <v-flex xs12 v-if="info.desc">
                        <v-divider></v-divider>
                        <v-subheader>Description:</v-subheader>
                        <p>
                            {{info.desc}}
                        </p>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
        <v-card-actions  :style="cardStyle.bottomStyle">
            <v-btn  fab @click="deleteDialog = !deleteDialog" color="indigo"><v-icon>delete</v-icon></v-btn>
            <v-spacer></v-spacer>
            <v-btn fab @click="print" color="orange"><v-icon>print</v-icon></v-btn>
            <v-btn  fab @click="responseDialog = !responseDialog" color="teal"><v-icon>mail</v-icon></v-btn>
        </v-card-actions>
        <Confirmation  @yes="deleteRequest" :prompt="deleteDialog" :title="'Confirm delete'" :message="'Are you sure you want to delete this request?'" @no="deleteDialog = false"></Confirmation>
        <v-dialog width="600" v-model="responseDialog">
            <Response :email="info.email" @cancel="responseDialog =false"></Response>
        </v-dialog>
    </v-card>
</template>

<script>
    import {MStore} from "../../../store/MainStore";
    import Response from "../Response";
    import Confirmation from "../../shared/Confirmation";

    export default {
        name: "Request",
        components: {Confirmation, Response},
        props: ['request'],
        data(){
            return{
                responseDialog : false,
                deleteDialog : false,
            }
        },
        computed:{
            info(){
                return this.request;
            },
            cardStyle(){
                let payload = {
                    bottomStyle: MStore.getters.getStyleByProp('cardBottom').style,
                    bodyStyle:  MStore.getters.getStyleByProp('cardBody').style,
                    titleStyle:  MStore.getters.getStyleByProp('cardTitle').style,
                }
                return payload
            }
        },
        methods:{
            deleteRequest(){
                this.deleteDialog =false;
                MStore.dispatch('deleteRequest', this.request)
                console.log('remove Request')
            },
            print(){
                var prtContent = document.getElementById("contentToPrint");
                var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
                WinPrint.document.write(prtContent.innerHTML);
                WinPrint.document.close();
                WinPrint.focus();
                WinPrint.print();
                WinPrint.close();
            }
        }
    }
</script>

<style scoped>

</style>