<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap justify-space-around>
            <v-flex xs12 md6>
                <v-card tile>
                    <v-card-title :style="cardStyle.titleStyle" >
                        WEBSITE SETTINGS:
                    </v-card-title>
                    <v-card-text :style="cardStyle.bodyStyle">
                            <v-container fluid grid-list-md>
                                <v-layout row wrap>
                                    <v-flex xs12 md3>
                                        <v-text-field label="Title:" v-model="config.title"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 md3>
                                        <v-text-field label="Website Owner Name:" v-model="config.websiteOwnerName"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 md3>
                                        <v-text-field label="Owner's Picture URL:" hint="URL..." v-model="config.websiteOwnerPicture"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 md3>
                                        <v-avatar size="50">
                                            <v-img :src="config.websiteOwnerPicture"></v-img>
                                        </v-avatar>
                                    </v-flex>
                                    <v-flex xs12 md3>
                                    <v-checkbox v-model="config.theme" label="Theme: (Dark/Light)"></v-checkbox>
                                    </v-flex>
                                    <v-flex xs12 md3>
                                        <v-text-field label="Contact Number:"  prepend-icon="phone" hint="Insert phone number here" v-model="config.phone"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 md3>
                                        <v-text-field label="Email:"  prepend-icon="mail" hint="Provide email here..." v-model="config.email"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 md3>
                                        <v-text-field label="Motto:"  prepend-icon="mail" hint="Provide Motto here" v-model="config.motto"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 >
                                        <v-textarea label="Company Info:"  prepend-icon="edit" hint="Provide company info here..." count="500" v-model="config.companyInfo"></v-textarea>
                                    </v-flex>
                                    <v-flex xs12 md4 >
                                        <v-text-field label="Address:"  prepend-icon="streetview"  v-model="config.location.address"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <v-text-field  label="City:"  prepend-icon="location_city"   v-model="config.location.city"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <v-text-field  label="Country:"  prepend-icon="location_on"  v-model="config.location.country"></v-text-field>
                                    </v-flex>

                                    <v-flex xs12>
                                        <v-divider></v-divider>
                                    </v-flex>
                                    <v-flex xs12 v-for="media in config.socialMedia" :key="media.name">
                                        <v-layout>
                                            <v-subheader><span :class="media.icon"></span></v-subheader> <v-switch   v-model="media.visible"></v-switch>
                                            <v-text-field v-if="media.visible" prepend-icon="edit" label="URL" hint="Provide the URL here" v-model="media.link"></v-text-field>
                                        </v-layout>
                                    </v-flex>

                                </v-layout>
                            </v-container>
                    </v-card-text>
                    <v-card-actions :style="cardStyle.bottomStyle">
                        <v-spacer></v-spacer>
                        <v-btn class="success" @click="updateConfig">SAVE</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>

        </v-layout>
    </v-container>
</template>

<script>
    import {MStore} from "../../../store/MainStore";

    export default {
        name: "SettingsTab",
        data(){
            return {
            }
        },
        methods:{
            updateConfig(){
                console.log('Logging after pressing save')
                console.log(this.config)
                MStore.dispatch('updateConfig', JSON.parse(JSON.stringify(this.config)))
            }
        },
        computed:{
            cardStyle(){
                let payload = {
                    bottomStyle: MStore.getters.getStyleByProp('cardBottom').style,
                    bodyStyle:  MStore.getters.getStyleByProp('cardBody').style,
                    titleStyle:  MStore.getters.getStyleByProp('cardTitle').style,
                }
                return payload
            },
            config(){
                return JSON.parse(JSON.stringify(MStore.getters.config))
            }


        },

    }
</script>

<style scoped>

</style>