<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap justify-space-around>
            <v-flex xs12 md6>
                <v-card tile>
                    <v-card-title :style="cardStyle.titleStyle" >
                       <v-icon left>contact_mail</v-icon> CONTACT US SETTINGS:
                    </v-card-title>
                    <v-card-text :style="cardStyle.bodyStyle">
                        <v-container fluid grid-list-md>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-checkbox color="success" prepend-icon="edit" label="Name Field" v-model="contactConfig.name"></v-checkbox>
                                    <v-divider></v-divider>
                                </v-flex>
                                <v-flex xs12>
                                    <v-checkbox color="error"  prepend-icon="email" label="Email Field" v-model="contactConfig.email"></v-checkbox>
                                    <v-divider></v-divider>
                                </v-flex>
                                <v-flex xs12>
                                    <v-checkbox color="indigo"  prepend-icon="textsms" label="TextArea Field" v-model="contactConfig.textArea"></v-checkbox>
                                    <v-divider></v-divider>
                                </v-flex>
                                <v-flex xs12>
                                    <v-checkbox color="orange"  prepend-icon="phone" label="Phone Number Field" v-model="contactConfig.phone"></v-checkbox>
                                    <v-divider></v-divider>
                                </v-flex>
                                <v-flex xs12>
                                    <v-checkbox color="teal"  prepend-icon="category" label="Category Field" v-model="contactConfig.category"></v-checkbox>
                                    <v-divider></v-divider>

                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions :style="cardStyle.bottomStyle">
                        <v-spacer></v-spacer>
                        <v-btn class="success" @click="updateConfig">SAVE</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>

        </v-layout>
    </v-container>
</template>

<script>
    import {MStore} from "../../../store/MainStore";

    export default {
        name: "ContactTab",
        data(){
            return {
            }
        },
        mounted(){
            MStore.dispatch('loadContactConfig')
        },
        methods:{
            updateConfig(){
                console.log('Logging after pressing save')
                console.log(this.contactConfig)
                MStore.dispatch('updateContactConfig', JSON.parse(JSON.stringify(this.contactConfig)))
            }
        },
        computed:{
            cardStyle(){
                let payload = {
                    bottomStyle: MStore.getters.getStyleByProp('cardBottom').style,
                    bodyStyle:  MStore.getters.getStyleByProp('cardBody').style,
                    titleStyle:  MStore.getters.getStyleByProp('cardTitle').style,
                }
                return payload
            },
            contactConfig(){
                return JSON.parse(JSON.stringify(MStore.getters.contactConfig))
            }


        },

    }
</script>

<style scoped>

</style>