<template>
    <v-card>
        <v-card-title class="headline font-weight-bold text-uppercase white--text indigo lighten-3">
            <v-icon left>photo_album</v-icon>Album
        </v-card-title>
        <v-card-text>
            <v-form ref="form" v-model="valid">
                <v-text-field :rules='titleRules' prepend-icon="edit" required v-model="title" label="Title"></v-text-field>
                <v-textarea  :rules='descriptionRules' label="Description" prepend-icon="edit" v-model="desc" count="1000" required>
                </v-textarea>
                <UploadButton  @uploaded="updatePreview"></UploadButton>
            </v-form>
        </v-card-text>
        <v-responsive >
            <v-img v-if="album != null" contain :src="album">

            </v-img>
        </v-responsive>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error"  @click="close">CANCEL</v-btn>
            <v-btn color="success" @click="save" :disabled="!valid">SAVE</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import {MStore} from "../../store/MainStore";
    import moment from 'moment';
    import UploadButton from "../shared/UploadButton";
    export default {
        name: "AddAlbum",
        components: {UploadButton},
        data(){
            return{
                title:'',
                desc:'',
                image: null,
                album: null,
                titleRules: [
                    v => !!v || 'Title is required',
                    v => v.length <=40|| 'Title must be less than 40 chars'
                ],
                descriptionRules: [
                    v => !!v || 'Description is required',
                    v => v.length <=500|| 'Description must be less than 500 chars'
                ],
                valid : false
            }
        },
        computed:{

        },
        methods:{
            updatePreview(val){
                this.album = val.preview
                this.image = val.image;
            },
            close(){
                this.$emit('close')
            },
            save(){
                if(this.$refs.form.validate()  && this.image != null && this.image !== undefined){
                    let tempDate = moment(String(new Date())).format('MM/DD/YYYY ')
                    console.log(tempDate)
                    let payload = {
                        title: this.title,
                        description: this.desc,
                        date: tempDate,
                        image: this.image
                    }
                    MStore.dispatch('addAlbum', payload)
                    this.$emit('close')
                }
            }
        }
    }
</script>

<style scoped>

</style>