<template>
               <v-card hover elevation="6" class="mx-auto mb-5" >
                   <v-card-title :style="cardStyle.titleStyle" class="headline text-uppercase">
                       {{album.title}}
                   </v-card-title>
                   <v-responsive >
                        <v-img :src="album.src" aspect-ratio="1.7" contain>

                        </v-img>
                   </v-responsive>
                   <v-card-text :style="cardStyle.bodyStyle">
                       {{album.description | truncate(100,'...')}}
                   </v-card-text>
                   <v-card-actions  :style="cardStyle.bottomStyle">
                       <v-btn v-if="auth" @click="feature"  :large="isFeatured" color="red" flat icon>
                           <v-icon>{{isFeatured?'star':'star_border'}}</v-icon>
                       </v-btn>
                       <v-spacer></v-spacer>
                       <v-btn  :to="`/albums/${album.id}`"   small color="teal" @click="deleteDialog = !deleteDialog" fab><v-icon >arrow_forward</v-icon></v-btn>

                       <v-btn v-if="auth"   small color="success" @click="editAlbum = !editAlbum" fab><v-icon>edit</v-icon></v-btn>
                       <v-btn v-if="auth"   small color="indigo" @click="deleteDialog = !deleteDialog" fab><v-icon >delete</v-icon></v-btn>
                   </v-card-actions>
                   <Confirmation @yes="deleteAlbum(album.id)" :prompt="deleteDialog" :title="'Confirm delete'" :message="'Are you sure you want to delete this album?'" @no="deleteDialog = false"></Confirmation>
                   <v-dialog v-model="editAlbum" width="600">
                       <EditAlbum :album="album" @close="editAlbum = !editAlbum"></EditAlbum>
                   </v-dialog>

               </v-card>

</template>

<script>
    import {MStore} from "../../store/MainStore";
    import EditAlbum from "./EditAlbum";
    import Confirmation from "../shared/Confirmation";

    export default {
        name: "Album",
        components: {Confirmation, EditAlbum},
        props: ['album'],
        data() {
            return {
                editAlbum: false,
                deleteDialog: false
            }
        },
        computed:{
            auth(){
                return MStore.getters.user
            },
            cardStyle(){
                let payload = {
                    bottomStyle: MStore.getters.getStyleByProp('cardBottom').style,
                    bodyStyle:  MStore.getters.getStyleByProp('cardBody').style,
                    titleStyle:  MStore.getters.getStyleByProp('cardTitle').style,
                }
                return payload
            },
            isFeatured(){
                return MStore.getters.isFeatured(this.album.id)
            }
        },
        methods:{
            deleteAlbum(id){
                console.log('Attempting to delete' + id)
                MStore.dispatch('deleteAlbum', this.album)
                this.deleteDialog = false
            },
            feature(){
                if(this.isFeatured){
                    console.log('Remove this feature')
                    MStore.dispatch('removeFeature', this.album)
                }else{
                    console.log('Add this feature')
                    MStore.dispatch('setFeature', this.album)

                }
            },

        }

    }
</script>

<style scoped>

</style>