<template>
    <v-container fluid grid-list-lg>
        <v-layout row wrap>
            <v-flex xs12 md6 >
                    <SearchBar :items="albums" @model="updateModel"></SearchBar>
            </v-flex>
            <v-flex md6>

            </v-flex>
            <v-flex xs12  md4 v-for="album in filteredAlbums" :key="album.id">
                <Album :album="album"></Album>
            </v-flex>
        </v-layout>

    </v-container>
</template>

<script>
    import {MStore} from "../../store/MainStore";
    import Album from "./Album";
    import SearchBar from "../shared/SearchBar";

    export default {
        name: "Albums",
        components: {
            SearchBar, Album
        },
        data(){
            return{
                model: null
            }
        },
        methods:{
            updateModel(val){
                this.model = val;
            }
        },
        computed:{
            albums(){
                console.log('Albums')
                console.log(MStore.getters.albums)
                return MStore.getters.albums;
            },
            filteredAlbums(){
                console.log('Filterd Albums')
                console.log(this.model)
                    if(this.model === null || this.model === undefined || this.model.length ===0){
                        return this.albums;
                    }
                    return this.albums.filter(a=>this.model.filter(userChoice => a.title.toLowerCase().includes(userChoice.toLowerCase())).length > 0)
                }
        },
        created(){
            MStore.dispatch('loadAlbums');
        },


    }
</script>

<style scoped>

</style>