<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
    <v-card flat hover ripple tile class="d-flex" @click="viewImage = !viewImage ">
        <v-img
                :src="innerImage.src"
                aspect-ratio="1"
                class="grey lighten-2"
        >
            <template v-slot:placeholder>
                <v-layout
                        fill-height
                        align-center
                        justify-center
                        ma-0
                >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                </v-layout>
            </template>
        </v-img>
    </v-card>

        <v-dialog v-model="viewImage"  width="600">
            <v-card>

                <v-responsive>
                    <v-img :src="innerImage.src">

                        <span class="headline">
                         {{innerImage.title}}

                        </span>

                        <span class="text_position" >
                                {{innerImage.description}}
                        </span>
                        <v-item-group class="button_position">
                            <v-btn  v-if="auth" fab color="indigo" small   @click="deleteDialog = !deleteDialog"><v-icon>delete</v-icon></v-btn>
                            <v-btn fab color="red" small  @click="viewImage= !viewImage"><v-icon>clear</v-icon></v-btn>
                        </v-item-group>

                    </v-img>

                </v-responsive>


            </v-card>
        </v-dialog>
        <Confirmation @yes="deleteImage()" :prompt="deleteDialog" :title="'Confirm delete'" :message="'Are you sure you want to delete this image?'" @no="deleteDialog = false"></Confirmation>
    </div>
</template>

<script>
    import Confirmation from "../shared/Confirmation";
    import {MStore} from "../../store/MainStore";

    export default {
        name: "AlbumImage",
        components: {Confirmation},
        props: ['image','album'],
        data(){
            return{
                viewImage: false,
                innerImage: this.image,
                deleteDialog: false
            }
        },
        methods:{
            deleteImage(){
                MStore.dispatch('deleteImage', {...this.innerImage, album : this.album})
                this.deleteDialog = false
            }
        },
        computed:{
            auth(){
                return MStore.getters.user
            }
        }
    }
</script>

<style scoped>
    .text_position {
        position:absolute;
        bottom:0;
        right:0;
    }
    .button_position {
        position:absolute;
        top:0;
        right:0;
    }

</style>