<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-container fluid>
        <v-progress-linear  v-if="loading || album == null || album === undefined" :indeterminate="true"></v-progress-linear>
        <v-layout row wrap v-else>
            <v-flex xs12 md3>
                <v-card>
                    <v-card-title :style="cardStyle.titleStyle" class="display-1 text-uppercase">
                        {{album.title}}
                    </v-card-title>
                    <v-responsive>
                        <v-img :src="album.src">

                        </v-img>
                    </v-responsive>
                    <v-card-text :style="cardStyle.bodyStyle">
                        {{album.description}}
                    </v-card-text>
                    <v-card-actions v-if="auth" :style="cardStyle.bottomStyle">
                        <v-spacer></v-spacer>
                        <v-btn v-if="auth"     depressed color="teal" @click="addImage  = !addImage">Add Images to Album</v-btn>
                        <v-btn v-if="auth"   small color="success" @click="editAlbum = !editAlbum" fab><v-icon>edit</v-icon></v-btn>
                        <v-btn v-if="auth"   small color="indigo" @click="deleteDialog = !deleteDialog" fab><v-icon >delete</v-icon></v-btn>
                    </v-card-actions>
                </v-card>

        </v-flex>
            <v-flex xs12 md9>
            <v-container grid-list-sm fluid>
                <v-layout row wrap>

                    <v-flex

                            v-for="image in images"
                            :key="image.id"
                            xs4
                            d-flex
                    >
                        <AlbumImage :album="album" :image="image" v-if="image.src != null"></AlbumImage>
                    </v-flex>
                </v-layout>
            </v-container>
            </v-flex>
            <Confirmation @yes="deleteAlbum(album.id)" :prompt="deleteDialog" :title="'Confirm delete'" :message="'Are you sure you want to delete this album?'" @no="deleteDialog = false"></Confirmation>

            <v-dialog v-model="editAlbum" width="600">
                <EditAlbum v-if="album" :album="album" @close="editAlbum = !editAlbum"></EditAlbum>
            </v-dialog>
            <v-dialog v-model="addImage" width="600">
                <AddImage v-if="album"  :album="album" @close="addImage = !addImage"></AddImage>
            </v-dialog>
        </v-layout>




    </v-container>
</template>

<script>
    import {MStore} from "../../store/MainStore";
    import Confirmation from "../shared/Confirmation";
    import EditAlbum from "./EditAlbum";
    import AddImage from "./AddImage";
    import AlbumImage from "./AlbumImage";
    export default {
        name: "AlbumDetails",
        components: {AlbumImage, AddImage, EditAlbum, Confirmation},
        data() {
            return {
                editAlbum: false,
                deleteDialog: false,
                addImage : false
            }
        },
        props: ['id'],
        created(){
            MStore.dispatch('loadImages', this.id);
        },
        computed:{
            album(){
                return MStore.getters.getAlbumById(this.id)
            },
            auth(){
                return MStore.getters.user
            },
            loading(){
                return MStore.getters.loading
            },
            images(){
                return MStore.getters.images
            },
            cardStyle(){
                let payload = {
                    bottomStyle: MStore.getters.getStyleByProp('cardBottom').style,
                    bodyStyle:  MStore.getters.getStyleByProp('cardBody').style,
                    titleStyle:  MStore.getters.getStyleByProp('cardTitle').style,
                }
                return payload
            }
        },
        methods:{
            deleteAlbum(id){
                console.log('Attempting to delete' + id)
                MStore.dispatch('deleteAlbum', this.album)
                this.deleteDialog = false
            }
        }
    }
</script>

<style scoped>

</style>