<template>
    <v-card>
        <v-card-title class="headline success white--text font-weight-bold text-uppercase">
            <v-icon left>assignment</v-icon>
            Edit Album
        </v-card-title>
        <v-card-text>
            <v-form ref="form">
                <v-text-field prepend-icon="edit" v-model="album2.title" required>

                </v-text-field>
                <UploadButton @uploaded="updatePreview"></UploadButton>
                <v-responsive>
                    <v-img :src="album2.src">

                    </v-img>
                </v-responsive>
                <v-textarea count="1000" required v-model="album2.description">

                </v-textarea>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="error" @click="close">CANCEL</v-btn>
            <v-btn class="success" @click="edit">CONFIRM</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import {MStore} from "../../store/MainStore";
    import UploadButton from "../shared/UploadButton";
    export default {
        name: "EditAlbum",
        components: {UploadButton},
        props: ['album'],
        data(){
            return{
                album2:  JSON.parse(JSON.stringify(this.album)), // clone the album to prevent mutating the parent
                image: null
            }
        },
        methods:{
            updatePreview(val){
                    this.album2.src = val.preview
                    this.image = val.image;
            },
            edit(){
                console.log('Attempting to edit')

                if(this.$refs.form.validate){
                    MStore.dispatch('updateAlbum', {...this.album2, image: this.image });
                    this.$emit('close')
                }
            },
            close(){
                this.$emit('close')
            }
        }
    }
</script>

<style scoped>

</style>