<template>
    <section>
        <v-layout
                column
                wrap
                class="my-5"
                align-center
        >

            <v-flex xs12>
                <v-container grid-list-xl>
                    <v-layout row wrap align-center>
                        <v-flex md4 d-flex v-for="article in articles" :key="article.id">
                            <Article :article="article"></Article>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-flex>
        </v-layout>
    </section>
</template>

<script>
    import {MStore} from "../../store/MainStore";
    import Article from "../article/Article";
    export default {
        name: "Services",
        components: {Article},
        computed: {

            textBlocks() {
                return MStore.getters.textBlocks
            },
            articles(){
                return MStore.getters.articles
            },
            mainArticle(){
                return MStore.getters.mainArticle;
            }
        }
    }
</script>

<style scoped>
#opacity{
    background: rgba(0,0,0,0.7);

}
</style>