<template>
    <v-container md-grid-list>
        <v-layout row wrap v-if="submitted">
            <v-alert
                    :value="true"
                    type="success"
                    dismissible
            >
                You've successfully submitted your request to {{config.websiteOwnerName}}, You may only submit one request per hour.
            </v-alert>
        </v-layout>
        <v-layout row wrap justify-space-around>
            <v-flex xs12 md7>
                <v-card >
                    <v-card-title :style="cardStyle.titleStyle" >
                       <v-icon left>email</v-icon> Contact Me
                    </v-card-title>
                    <v-responsive>
                        <p class="px-3 pt-3">You can reach {{config.websiteOwnerName}} by filling out the form below and he'll get back to you.</p>
                    </v-responsive>
                    <v-card-text :style="cardStyle.bodyStyle">
                                    <small>*indicates required field</small>
                                    <v-form ref="form" :action='`https://formspree.io/${config.email}`' method="POST">
                                        <v-container grid-list-md>
                                        <v-layout row wrap>
                                        <v-flex xs12 sm6 md4 v-if="contactConfig.name">
                                            <v-text-field prepend-icon="person" name="Name" :rules="nameRules" v-model="name" label="Name*" required></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md4 v-if="contactConfig.phone">
                                            <v-text-field name="Phone Number:" label="Phone Number" v-model="phone" type="phone" prepend-icon="phone" hint="(###)-(###-####)"></v-text-field>
                                        </v-flex>
                                        <v-flex      xs12 sm6 md4 v-if="contactConfig.category">
                                            <v-select
                                                    v-model="category"
                                                    label="Request Category"


                                                    :items="categories">
                                            </v-select>

                                        </v-flex>
                                        <v-flex xs12 md4 v-if="contactConfig.email">
                                            <v-text-field  prepend-icon="mail" name="Email" v-model="email" :rules="emailRules" label="Email*" required></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 v-if="contactConfig.textArea">
                                            <v-textarea name="Description" v-model="desc" :rules="descRules" label="Description*" count="500" prepend-icon="edit" required></v-textarea>
                                        </v-flex>

                                        <v-flex xs12 offset-xs9>
                                            <v-spacer></v-spacer>
                                            <v-btn  :disabled="submitted" type="submit" :loading="loading" color="success" @click="submit">SUBMIT</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                                    </v-form>
                    </v-card-text>
                    <v-card-actions :style="cardStyle.bottomStyle">
                        <v-spacer>

                        </v-spacer>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import {MStore} from "../store/MainStore";

export default {
        name: "ContactUs",
        data(){
            return{
                categories:[
                    'Home Renovation',
                    'Home Renovation 2'

                ],
                category: 'Business Inquiry',
                email:'',
                desc: '',
                phone: '',
                name: '',
                emailRules: [
                    v => /.+@.+/.test(v) || 'E-mail must be valid'
                ],
                nameRules:[
                    v => !!v || 'Name is required',
                    v => (v && v.length > 2) || 'Name must be greater than 2 characters'
                ],
                descRules: [
                    v =>(v && v.length > 10)  || 'Description is too short'
                ]
            }
        },
        methods:{

            submit(){
                let payload ={}
                if(this.contactConfig.name){
                    payload.name = this.name
                }
                if(this.contactConfig.textArea){
                    payload.desc = this.desc
                }
                if(this.contactConfig.email){
                    payload.email = this.email
                }
                if(this.contactConfig.phone && this.phone){
                    payload.phone = this.phone

                }
                if(this.contactConfig.category){
                    payload.category = this.category
                }

                if(this.$refs.form.validate()) {
                    console.log('Validation success!')
                    MStore.dispatch('sendRequest', payload)
                }else{
                    MStore.commit('setSnackBar','You still have invalid data in your form')
                }
            }
        },
        computed:{
            loading(){
                return MStore.getters.loading
            },
            submitted(){
                return MStore.getters.submitted
            },
            contactConfig(){
                return MStore.getters.contactConfig
            },
            cardStyle(){
                let payload = {
                    bottomStyle: MStore.getters.getStyleByProp('cardBottom').style,
                    bodyStyle:  MStore.getters.getStyleByProp('cardBody').style,
                    titleStyle:  MStore.getters.getStyleByProp('cardTitle').style,
                }
                return payload
            },
            config(){
                return MStore.getters.config;
            }
        }
    }
</script>

<style scoped>

</style>