<template>
    <v-content class="mt-0 pt-0">
        <section class="mt-0">
            <v-parallax  class="mt-0" :src="require('@/assets/background.jpg')" height="400">
                <v-layout column align-center justify-center>
                    <div class="headline white--text mb-3 text-xs-center">{{contactInfo.motto}}</div>
                    <v-btn
                            class="blue lighten-2 mt-5 mx-2"
                            large
                            href="/pre-made-themes"
                            to="/contactus"

                    >
                      <v-icon left>mail</v-icon>  Reach out to Heartland Home Improvements
                    </v-btn>
                </v-layout>
            </v-parallax>
        </section>

        <section>
            <v-layout
                    column
                    wrap
                    class="my-5"
                    align-center
            >
                <v-flex xs12  class="my-3">
                    <div class="text-xs-center">

                        <h2 class="headline">Why Choose Us?</h2>
                        <span class="subheading">
                Here are some of our featured renovations:
              </span>

                    </div>
                </v-flex>
                <v-container>
                    <v-layout row wrap justify-space-around>
                        <v-flex xs12 md6>
                            <EventsCarousel></EventsCarousel>

                        </v-flex>
                    </v-layout>
                </v-container>
                <v-flex xs12>
                    <v-container grid-list-xl>
                        <v-layout row wrap align-center>
                            <v-flex xs12 md4 v-for="(article,i) in articles" :key="i">
                                <Article :article="article"></Article>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-flex>
            </v-layout>
        </section>

        <section>
            <v-parallax :src="require('@/assets/background.jpg')" height="380">

            </v-parallax>
        </section>

        <section>
            <v-container grid-list-xl>
                <v-layout row wrap justify-center class="my-5">
                    <v-flex xs12 sm4>
                        <v-card class="elevation-0 transparent">
                            <v-card-title primary-title class="layout justify-center">
                                <div class="headline">Company info</div>
                            </v-card-title>
                            <v-card-text>
                                    {{contactInfo.companyInfo}}
                            </v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm4 offset-sm1>
                        <v-card class="elevation-0 transparent">
                            <v-card-title primary-title class="layout justify-center">
                                <div class="headline">Contact us</div>
                            </v-card-title>
                            <v-card-text>
                                You can reach out to us using the information bellow, and a member of our team will get back to you!
                            </v-card-text>
                            <v-list class="transparent">
                                <v-list-tile>
                                    <v-list-tile-action>
                                        <v-icon class="blue--text text--lighten-2">phone</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>{{contactInfo.phone}}</v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                                <v-list-tile>
                                    <v-list-tile-action>
                                        <v-icon class="blue--text text--lighten-2">place</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>{{contactInfo.location.city}}, {{contactInfo.location.country}}</v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                                <v-list-tile>
                                    <v-list-tile-action>
                                        <v-icon class="blue--text text--lighten-2">email</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>{{contactInfo.email}}</v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </v-list>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </section>
    </v-content>

        <!--<ContactInfo></ContactInfo>-->
</template>

<script>
    import {MStore} from "../store/MainStore";
    import EventsCarousel from "./shared/EventsCarousel";
    import Article from "./article/Article";

    export default {
        name: 'home',
        components: {Article, EventsCarousel},
        computed:{
            featuredEvents(){
                return MStore.getters.featuredEvents;
            },
            articles(){
                return MStore.getters.articles;
            },
            mainArticle(){
                return MStore.getters.mainArticle;
            },
            contactInfo(){
                return MStore.getters.config
            }
        }

    }
</script>
<style scoped>
#opacity
{
    background: rgba(0,0,0,0.7);
}

</style>
