<template>
    <v-card>
        <v-card-title>
            <slot name="header">
                <h1></h1>
            </slot>
        </v-card-title>
        <v-card-text>
            <slot name="body">
                <p>

                </p>
            </slot>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: "MiniCanvas",
        data(){
            return{
                user: {
                    firstName: 'Mo',
                    lastName: 'The Great God'
                }
            }
        }
    }
</script>

<style scoped>

</style>