<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-container>
        <v-layout>
            <v-flex>
                <h1> Hello World</h1>
                <MiniCanvas slot="item">
                    <template slot="header">
                        <h3>MY FUCKING GOD</h3>

                    </template>
                </MiniCanvas>
                <v-autocomplete>

                </v-autocomplete>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import MiniCanvas from "./MiniCanvas";
    export default {
        name: "MyCanvas",
        components: {MiniCanvas}
    }
</script>

<style scoped>

</style>