<template>
    <div>

        <v-container v-if="loading || auth">
            <v-layout row wrap  align-center justify-center>
                <v-progress-circular size="450" color="grey" indeterminate>

                </v-progress-circular>
            </v-layout>
        </v-container>
        <v-container v-else fluid>
            <v-layout row wrap>
                <v-flex xs12 class="text-xs-center" mt-5>
                    <h1>Sign In</h1>
                </v-flex>
                <v-flex xs12 sm6 offset-sm3 mt-3>
                    <v-form ref="form" v-model="valid" >
                        <v-layout column>
                            <v-flex>
                                <v-text-field
                                        name="email"
                                        label="Email"
                                        id="email"
                                        v-model="email"
                                        :rules="emailRules"
                                        type="email"
                                        required></v-text-field>
                            </v-flex>
                            <v-flex>
                                <v-text-field
                                        name="password"
                                        v-model="password"
                                        label="Password"
                                        id="password"
                                        type="password"
                                        @keyup.enter="submit"
                                        required></v-text-field>
                            </v-flex>
                            <v-flex class="text-xs-center" mt-5>
                                <v-btn :loading="loading" @click="submit" :disabled="!valid" color="primary" >Sign In</v-btn>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-flex>
            </v-layout>
        </v-container>

    </div>
</template>

<script>
    import {MStore} from "../store/MainStore";
    import Alert from "./shared/Alert";
    export default {
        name: "Signin",
        components: {Alert},
        data(){
            return{
                email:'',
                valid: false,
                password: '',
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid'
                ]
            }

        },
        methods:{
            submit(){

                let user = {
                    email: this.email,
                    password: this.password
                }
                if(this.$refs.form.validate()) {
                    console.log('Validation success!')
                    MStore.dispatch('signIn', user)
                }
            }
        },
        computed:{
            loading(){
                return MStore.getters.loading;
            },
            error () {
                return MStore.getters.error
            },
            auth(){
                return MStore.getters.auth;
            }

        }
    }
</script>

<style scoped>

</style>