<template>
    <v-timeline class="pa-2 white--text">
        <v-timeline-item
                v-for="(year, i) in years"
                :color="year.color"
                :key="i"
                small
        >
      <span
              slot="opposite"
              :class="`headline font-weight-bold ${year.color}--text`"
              v-text="year.year"
      ></span>

                <v-card class="py-3">
                    <v-card-title :style="cardStyle.titleStyle">
                        <h2 :class="`headline font-weight-bold mb-3 ${year.color}--text`">{{year.title}}</h2>
                        <v-subheader>{{year.location}}</v-subheader>
                    </v-card-title>
                    <v-card-text :style="cardStyle.bodyStyle">
                        {{year.desc}}
                    </v-card-text>
                </v-card>
        </v-timeline-item>
    </v-timeline>
</template>

<script>
    import {MStore} from "../../store/MainStore";

    export default {
        name: "Timeline",
        data(){
            return{
                years: [
                    {
                        color: 'black',
                        year: 'March 2018 – Current',
                        title:'Consultant',
                        location: 'Al-Khobar Governorate, Saudi Arabia\n',
                        desc: 'Al Fozan Holding Group - Al Fozan Award for Mosques Architecture'
                    },
                    {
                        color: 'black',
                        year: 'July 2013 - April 2018',
                        title:'Adviser for Heritage\n',
                        location: 'Saudi Commission for Tourism and National Heritage\n',
                        desc: '1- Assist in Structuring up National Heritage Governmental Sector\n' +
                            '2- Setting up technical measures for conservation'
                    },
                    {
                        color: 'black',
                        year: 'May 2011 - July 2013',
                        title:'President',
                        location: 'Foundation of Architecture and Heritage (Amman - Jordan)\n',
                        desc: '1- Spreading Awareness about Jordanian National Heritage\n' +
                            '2- Structuring up National Heritage Public Sector\n'

                    },
                    {
                        color: 'black',
                        year: 'April 2004 - July 2013',
                        title:'Senior Associate Consultant',
                        location: 'Arab Consultants Bureau (Amman - Jordan)',
                        desc: 'Consultant for Conservation Projects\n'
                    },
                    {
                        color: 'black',
                        year: '2000',
                        title:'Assistant Professor\n',
                        location: 'Petra University (Amman - Jordan)\n',
                        desc: '1- Vice Dean - College of Architecture and Arts\n'
                    },
                    {
                        color: 'black',
                        year: 'October 1997 - August 2004',
                        title:'Restoration Architect\n\n',
                        location: 'Centro Recirche Archeologiche di Torino per il medio oriente (Turin, Italy)\n',
                        desc: ''
                    },
                    {
                        color: 'black',
                        year: 'October 1990 - July 1993',
                        title:'Planning & Design Officer\n',
                        location: 'UNRWA (Damascus, Syria)\n',
                        desc: 'Planning and design/follow up design of UNRWA Architectural and Technical Projects. Including upgrading, and rehabilitation of old premises.\n'
                    },
                    {
                        color: 'black',
                        year: 'August 1989 - August 1990',
                        title:'Project Architect\n',
                        location: 'Heritage Group Kuwait (Kuwait)\n',
                        desc: ''
                    }
                ]
            }
        },
        computed:{
            cardStyle() {
                let payload = {
                    bottomStyle: MStore.getters.getStyleByProp('cardBottom').style,
                    bodyStyle: MStore.getters.getStyleByProp('cardBody').style,
                    titleStyle: MStore.getters.getStyleByProp('cardTitle').style,
                }
                return payload
            }
        }
    }
</script>

<style scoped>

</style>