<template>
    <v-container grid-list-md>
    <v-layout row wrap>
        <v-flex xs12  md6 v-for="blog in blogs">
            <Blog :blog="blog"></Blog>
        </v-flex>
    </v-layout>
</v-container>
</template>

<script>
    import {MStore} from "../../store/MainStore";
    import Blog from "./Blog";
    export default {
        name: "blogs",
        components: {Blog},
        computed:{
            blogs(){
                return MStore.getters.blogs;
            }
        }
    }
</script>

<style scoped>

</style>