<template>
    <v-card >
        <v-card-title :style="cardStyle.titleStyle">
            {{blog.title}}
            <v-spacer>
            </v-spacer>
            <span class="success--text  text--darken-3 subheading">{{blog.date }}</span>
        </v-card-title>
        <v-responsive>
            <v-img :src="blog.src">

            </v-img>
        </v-responsive>
        <v-card-text  :style="cardStyle.bodyStyle" >
            <p style='word-wrap: break-word;'>{{blog.description}}</p>
        </v-card-text>
        <v-card-actions v-if="auth" :style="cardStyle.bottomStyle">
            <v-spacer></v-spacer>
            <v-btn small fab color="success" dark @click="editDialog = !editDialog"><v-icon>edit</v-icon></v-btn>
            <v-btn small fab color="indigo" dark @click="deleteDialog = !deleteDialog"><v-icon>delete</v-icon></v-btn>

        </v-card-actions>
        <v-dialog v-model="editDialog" width="600">
            <EditBlog :blog="blog" @close="editDialog = !editDialog"></EditBlog>
        </v-dialog>
        <Confirmation @yes="deleteBlog(blog.id)" :prompt="deleteDialog" :title="'Confirm delete'" :message="'Are you sure you want to delete this blog?'" @no="deleteDialog = false"></Confirmation>
    </v-card>
</template>

<script>
    import Confirmation from "../shared/Confirmation";
    import {MStore} from "../../store/MainStore";
    import EditBlog from "./EditBlog";

    export default {
        name: "Blog",
        components: {EditBlog, Confirmation},
        props: ['blog'],
        data(){
            return{
                deleteDialog : false,
                editDialog :false
            }
        },
        computed:{
            auth(){
                return MStore.getters.user
            },
            cardStyle(){
                let payload = {
                    bottomStyle: MStore.getters.getStyleByProp('cardBottom').style,
                    bodyStyle:  MStore.getters.getStyleByProp('cardBody').style,
                    titleStyle:  MStore.getters.getStyleByProp('cardTitle').style,
                }
                return payload
            }
        },
        methods:{
            deleteBlog(id){
                MStore.dispatch('deleteBlog', id)
                this.deleteDialog = false
            }
        }
    }
</script>

<style scoped>

</style>