<template>
    <v-card>
        <v-card-title class="headline success white--text font-weight-bold text-uppercase">
            <v-icon left>chat_bubble</v-icon>
            Edit Blog
        </v-card-title>
        <v-card-text>
            <v-form ref="form">
                <v-text-field prepend-icon="edit" v-model="blog2.title" required>

                </v-text-field>
                <v-textarea count="1000" required v-model="blog2.description">

                </v-textarea>
            </v-form>

        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="error" @click="close">CANCEL</v-btn>
            <v-btn class="success" @click="edit">CONFIRM</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import {MStore} from "../../store/MainStore";
    export default {
        name: "EditBlog",
        props: ['blog'],
        data(){
            return{
                blog2:  JSON.parse(JSON.stringify(this.blog)) // clone the blog to prevent mutating the parent
            }
        },
        methods:{

            edit(){
                console.log('Attempting to edit')

                if(this.$refs.form.validate){
                    MStore.dispatch('updateBlog', this.blog2);
                    this.$emit('close')
                }
            },
            close(){
                this.$emit('close')
            }
        }
    }
</script>

<style scoped>

</style>