<template>
  <v-app :dark="theme">
    <v-progress-linear  v-if="appLoading" :indeterminate="true"></v-progress-linear>
    <div v-else  :style="backgroundStyle">
      <ToolBar></ToolBar>
      <v-content >
        <Alert v-if="error" :text="error.message"></Alert>
        <router-view >
    <!-- hisd!-->
        </router-view>
      </v-content>
      <SnackBar></SnackBar>
      <Footer></Footer>

    </div>

  </v-app>
</template>

<script>

import ToolBar from "./components/static/ToolBar";
import Footer from "./components/static/Footer";
import Alert from "./components/shared/Alert";
import {MStore} from "./store/MainStore";
import SnackBar from "./components/shared/SnackBar";
export default {
  name: 'App',
  components: { SnackBar, Alert, Footer, ToolBar},
  data(){
    return{

    }
  },
  computed:{
    error(){
      return MStore.getters.error

    },
    appLoading(){
      return MStore.getters.appLoading
    },
    backgroundStyle(){
      return MStore.getters.getStyleByProp('background').style
    },
    theme(){
      return MStore.getters.theme;
    }
  },
  watch:{
    $route(to,from){ // this is a route change listener, which clears error messages and snackbars automatically if a user goes to a different page
      MStore.dispatch('clearError')
      MStore.dispatch('clearSnackBar')
    }
  },

}
</script>
