<template>
    <v-card hover elevation="3" v-show="false">
        <v-card-title class="indigo darken-3">
            <v-icon left>brush</v-icon> Button Color Config
        </v-card-title>
        <v-card-text class="teal lighten-2">
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-select box :background-color="selectEditButton"
                                  prepend-icon="edit" color="white" v-model='selectEditButton' :items="colors" label="Edit Button">
                        </v-select>
                        <select></select>
                    </v-flex>
                    <v-flex xs12>
                        <v-select box :background-color="selectDeleteButton"
                                  prepend-icon="delete" color="white" v-model='selectDeleteButton' :items="colors" label="Delete Button">
                        </v-select>
                    </v-flex>
                    <v-flex xs12>
                        <v-select box :background-color="selectAddButton"
                                 prepend-icon="add" color="white" v-model='selectAddButton' :items="colors" label="Add Button">
                        </v-select>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
        <v-card-actions class="teal lighten-4">
            <v-spacer></v-spacer>
            <v-btn color="success" @click="save">SAVE</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import {MStore} from "../../../store/MainStore";

    export default {
        name: "ButtonColorConfig",
        data(){
            return{
                selectDeleteButton:'black',
                selectEditButton: 'black',
                selectAddButton: 'black'
            }
        },
        computed:{
            colors(){
                return MStore.getters.getColors;
            }
        },
        methods:{
            save(){
                console.log('save')
            }
        }
    }
</script>

<style scoped>

</style>