<template>
    <v-card>
        <v-card-title class="yellow darken-3">
          <v-icon left>brush</v-icon>  Card Color Config
        </v-card-title>
        <v-card-text class="teal lighten-2">
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-select box :items="colors" :background-color="selectTitle.value" v-model="selectTitle" return-object>
                            <template slot="item" slot-scope="data">
                                <v-list-tile v-bind="data.tile.props" v-on="data.tile.on" :style="`background: ${data.item.value}`">
                                    <v-list-tile-title>
                                        {{ data.item.text }}
                                    </v-list-tile-title>
                                </v-list-tile>
                            </template>
                        </v-select>
                    </v-flex>
                    <v-flex xs12>
                        <v-select box :items="colors" :background-color="selectBody.value" v-model="selectBody" return-object>
                            <template slot="item" slot-scope="data">
                                <v-list-tile v-bind="data.tile.props" v-on="data.tile.on" :style="`background: ${data.item.value}`">
                                    <v-list-tile-title>
                                        {{ data.item.text }}
                                    </v-list-tile-title>
                                </v-list-tile>
                            </template>
                        </v-select>
                    </v-flex>

                    <v-flex xs12>
                        <v-select box :items="colors" :background-color="selectBottom.value" v-model="selectBottom" return-object>
                            <template slot="item" slot-scope="data">
                                <v-list-tile v-bind="data.tile.props" v-on="data.tile.on" :style="`background: ${data.item.value}`">
                                    <v-list-tile-title>
                                        {{ data.item.text }}
                                    </v-list-tile-title>
                                </v-list-tile>
                            </template>
                        </v-select>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
        <v-card-actions class="teal lighten-4">
            <v-spacer></v-spacer>
            <v-btn color="success" @click="save">SAVE</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import {MStore} from "../../../store/MainStore";

    export default {
        name: "CardColorConfig",
        data(){
            return{
                selectTitle:{},
                selectBody: {},
                selectBottom:{},
                colors:[]
            }
        },
        methods:{
            save(){
                let payload = {
                    cardTitle: this.selectTitle.value,
                    cardBody: this.selectBody.value,
                    cardBottom: this.selectBottom.value
                }
                MStore.dispatch('updateMainColors', payload)
            }
        },
        mounted(){
            this.colors = MStore.getters.getColors;
            console.log('Logging mounted color values')

            this.selectTitle = this.colors.find(item => {
                return item.value === MStore.getters.getStyleByProp('cardTitle').style.backgroundColor
            })

            this.selectBody = this.colors.find(item => {
                return item.value === MStore.getters.getStyleByProp('cardBody').style.backgroundColor
            })

            this.selectBottom = this.colors.find(item => {
                return item.value === MStore.getters.getStyleByProp('cardBottom').style.backgroundColor
            })
            console.log(this.selectBottom)
            console.log('END')
        }
    }
</script>

<style scoped>

</style>