<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap justify-space-around>
                                <v-flex  xs12 md4 v-for="(component,i) in components" :key="i">
                                    <component :is="component"></component>
                                </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import {MStore} from "../../../store/MainStore";
    import MainColorConfig from "./MainColorConfig";
    import CardColorConfig from "./CardColorConfig"
    import ButtonColorConfig from './ButtonColorConfig'

    export default {
        name: "ColorsTab",
        components: {MainColorConfig, CardColorConfig, ButtonColorConfig},
        data(){
            return{
                components:['MainColorConfig', 'CardColorConfig', 'ButtonColorConfig']
            }
        },
        computed:{
            cardStyle(){
                return MStore.getters.getStyleByProp('card')
            }
        }
    }
</script>

<style scoped>

</style>