<template>
    <v-card hover elevation="3">
        <v-card-title class="orange darken-3">
            <v-icon left>brush</v-icon> Main Color Config
        </v-card-title>
        <v-card-text class="teal lighten-2">
            <v-container>
                <v-layout row wrap>
                    <v-flex xs10>
                        <v-select box :background-color="selectToolbar.value"
                                 return-object color="white" v-model='selectToolbar' :items="colors" label="Toolbar">
                            <template slot="item" slot-scope="data">
                                <v-list-tile v-bind="data.tile.props" v-on="data.tile.on" :style="`background: ${data.item.value}`">
                                    <v-list-tile-title>
                                        {{ data.item.text }}
                                    </v-list-tile-title>
                                </v-list-tile>
                            </template>
                        </v-select>
                    </v-flex>
                    <v-flex xs10>
                        <v-select  box :background-color="selectBackground.value"
                                   return-object color="white" v-model='selectBackground' :items="colors" label="General Website Background">
                            <template slot="item" slot-scope="data">
                                <v-list-tile v-bind="data.tile.props" v-on="data.tile.on" :style="`background: ${data.item.value}`">
                                    <v-list-tile-title>
                                        {{ data.item.text }}
                                    </v-list-tile-title>
                                </v-list-tile>
                            </template>
                        </v-select>
                    </v-flex>
                    <v-flex xs10>
                        <v-select box :background-color="selectFooter.value"
                                  return-object color="white" v-model='selectFooter' :items="colors" label="Footer">
                            <template slot="item" slot-scope="data">
                                <v-list-tile v-bind="data.tile.props" v-on="data.tile.on" :style="`background: ${data.item.value}`">
                                    <v-list-tile-title>
                                        {{ data.item.text }}
                                    </v-list-tile-title>
                                </v-list-tile>
                            </template>
                        </v-select>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
        <v-card-actions class="teal lighten-4">
            <v-spacer></v-spacer>
            <v-btn color="success" @click="save">SAVE</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import {MStore} from "../../../store/MainStore";

    export default {
        name: "MainColorConfig",
        data(){
            return{
                selectFooter : {},
                selectBackground: {},
                selectToolbar: {},
                colors:[]
            }
        },
        mounted(){
            this.colors = MStore.getters.getColors;
            console.log('Logging mounted values')
            console.log(MStore.getters.getStyleByProp('toolbar').style.backgroundColor);
            this.selectToolbar = this.colors.find(item => {
                    return item.value === MStore.getters.getStyleByProp('toolbar').style.backgroundColor
                })

            this.selectFooter = this.colors.find(item => {
                return item.value === MStore.getters.getStyleByProp('footer').style.backgroundColor
            })

            this.selectBackground = this.colors.find(item => {
                return item.value === MStore.getters.getStyleByProp('background').style.backgroundColor
            })
            console.log(this.selectToolbar)
            console.log(this.selectFooter)
            console.log(this.selectBackground)


        },
        methods:{
            save(){
                let payload = {
                    toolbar: this.selectToolbar.value,
                    footer: this.selectFooter.value,
                    background: this.selectBackground.value
                }
                    MStore.dispatch('updateMainColors', payload)
            }
        },
        watch:{
            selectToolbar(old, newVal){
                console.log(newVal)
            }
        }
    }
</script>

<style scoped>
    #test .selected-tag {
        color: #147688;
        background-color: #d7f3f9;
        border-color: #91ddec;
    }

    #test.dropdown.open .dropdown-toggle,
    #test.dropdown.open .dropdown-menu {
        border-color: #4CC3D9;
    }

    #test .active a {
        background: rgba(50,50,50,.1);
        color: #333;
    }

    #test.dropdown .highlight a,
    #test.dropdown li:hover a {
        background: #4CC3D9;
        color: #fff;
    }
</style>